<img src="/public/assets/img/" alt="burger">

<header>Have it your way!</header>

<div class="row">
  <div class="freshBurger col-3">
    <h3>Choose a burger to eat</h3>
    <ol>
      {{#each burgers}}
      {{#unless devoured}}
      <li class="freshBurger"><button class="eatIt" data-burgerid{{this.id}}>{{this.burger_name}}</button></li>
      {{/unless}}
      {{/each}}
    </ol>
  </div>

  <div class="eaten col-3">
    <h3>Yummmmmahh</h3>
      <ol>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{this.burger_name}}</li>
        {{/if}}
        {{/each}}
      </ol>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <h3>Add a burger!</h3>
    <form class="createBurger">
      <div class="burgerForm">
        <label for="input">Burger Name:</label>
        <input type="textarea" id="input" name="burger-name">
      </div>

      <button class="addBttn" type="submit">Add a burger!</button>
    </form>
  </div>
</div>