body {
  background: url(../images/body.jpg);
}

.jumbotron {
  background: url(../images/banner_burger.png);
  background-size: cover;
  color: white;
  text-shadow: 3px 3px 5px gray;
  font-weight: bold;
  text-align: left;
  font-family: 'Anton', sans-serif;
  box-shadow: 0 3px 6px #505050, 0 3px 6px #505050;
}

h2, h4 {
  text-align: center;
  color: black;
}

.tan {
  background-color: rgb(231, 225, 218) ;
  font-family: 'PT Sans Narrow', sans-serif;
}

.uneaten-div {
  margin-right: 2%;
}

#input {
  width: 250px;
  height: 100px;
}

.btn-grey {
  background-color: lightgray;
  margin-left: 40%;
}

.btn-grey:hover {
  background-color: grey;
}

button{
  border: 2px solid;
  border-radius: 8px;
  border-color: grey;
  background-color: rgba(240, 248, 255, 0.5);
  cursor: pointer;
}

button:hover {
  background-color:rgba(240, 248, 255, 0.9);
}

button.change-devoured {
  float: right;
}

li {
  padding: 2%;
  width: 310px;
}

ul {
  padding: 1%;
}

.card {
  box-shadow: 0 3px 6px #505050, 0 3px 6px #505050;
}

.newBurg {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: rgb(231, 225, 218) ;
  padding: 2%;
}